@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

h1 {
    background-color: greenyellow;
    font-family: 'Roboto', sans-serif;
    font-size: 25;
    font-style: italic;
    text-align: center;
    position: fixed;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

form { 
    position: absolute;
    top: 50px;
    height: 1000px;
}

img {
    width: 50px;
    height: 35px;
    position: fixed;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

input {
    display: block;
    border-radius: 50px;
}

select {
    display: block;
    border-radius: 50px;
}

textarea {
    display: block;
}

